.users-list {
  // background: url(./img/old_map_@2X.png) no-repeat center center;
  // background: url(./img/ricepaper_v3.png) no-repeat center center;
  background: url(./img/ricepaper_v3_@2X.png) no-repeat center center;
  // background: url(./img/brickwall.png) no-repeat center center;
  // background: url(./img/binding_light.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 20px;
  min-height: 100vh;
  
  .jumbotron {
    font-size: 48px;
    color: blue;
    background: red;
    // border: 1px solid lightgray;
    text-align: center;
    background: transparent;
  }
}

.users-item-col {
  padding: 10px;
}

.users-item {
  // background: transparent;
  border: 1px solid #999;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
  
  a {
    display: block;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    // background: transparent;
    
    .users-item-bcg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      opacity: 0;
      transition: all .4s ease-out;
    }

    .users-item-del {
      visibility: hidden;
      position: absolute;
      right: 20px;
      bottom: 20px;
      padding: 7px 10px;
      border: 1px solid transparent;
      border-radius: 3px;
      background: transparent;
    }
  
    &:hover {
      text-decoration: none;
      
      .users-item-bcg {
        opacity: .7;
        // background: #f9eba1;
        background: #7fbfbb;
      }
      
      .users-item-del {
        visibility: visible;
        background: white;
      }
    }
    
    &:focus {
      text-decoration: none;
    }
  }
}

.disable-links {
  >a {
    pointer-events: none;
  }
}


// .users-item {
//   padding-top: 30px;
//   padding-bottom: 30px;
//   background: transparent;
//   border: 1px solid #999;
//   text-align: center;
//     position: relative;
  
//   a {
//     display: block;
//     height: 100%;
//     text-decoration: none;
//     background: transparent;
//   }
  
//   span {
//     display: inline-block;
//     visibility: hidden;
//     background: transparent;
//     padding: 7px 10px;
//   }

//   a:hover {
//     text-decoration: none;
//     background: green;
    
//     ~ span {
//       visibility: visible;
//       background: green;
//     }
//   }
// }


.user-details {
  // background: url(./img/old_map_@2X.png) no-repeat center center;
  // background: url(./img/ricepaper_v3.png) no-repeat center center;
  background: url(./img/ricepaper_v3_@2X.png) no-repeat center center;
  // background: url(./img/brickwall.png) no-repeat center center;
  // background: url(./img/binding_light.png) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  

}
